@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-VariableFont_slntwght.ttf"), format("ttf"),
}

@import "tailwindcss";


@theme {
  --font-inter: Inter, "sans-serif"
}

@theme {
  --color-custom-bg: #141414;
  --color-custom-card: #1f1f1f;
  --color-custom-btn: #333333;
  --color-custom-color-green: hsl(75,94%,57%);
}